
body {
  font-family: sans-serif;
  font-size: 5vh;
  box-sizing: border-box;
  overflow: hidden;
}

form {
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
  width: 100%;
  font-size: 5vh;
}

.the-world {
  height: 100%;
  position: relative;
}

.main-area {
}

.timer {
  position: absolute;
  text-align: center;
  right: 25%;
  font-size: 25vh;
  opacity: 0.1;
}

.connections {
  margin-top: 5%;
  font-size: 3vh;
  text-align: center;
}
.connections-dummy {
  font-size: 3vh;
}

.target {
  width: 50%;
  margin: 20px auto;
  font-size: 20vh;
  text-align: center;
}

.online-parent {
  height: 3.5vh;
  overflow:hidden;

}
.online-users {
  font-size: 3vh;
  height: 6vh;
  white-space: nowrap;
  overflow: scroll;
  padding-right: 17px;
}

#messages {
  font-size: 8vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#m {
  font-size: 3vh;
  border: 1px solid black;
}

.correct {
  background: green !important;
}

.cheater {
  background: red !important;
}
