* {
  margin: 0;
  padding: 0;
  font-size: 5vh;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
form {
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
  width: 100%;
  font-size: 5vh;
}

.connections {
  float: left;
}

.target {
  font-size: 50vh;
  text-align: center;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li:nth-child(odd) {
  background: lightgray;
}

.correct {
  background: green !important;
}

.cheater {
  background: red !important;
}
